[submodule "devtools"]
	path = devtools
	url = git@github.com:dutradda/devtools.git
[submodule "asyncapi/docs-template"]
	path = asyncapi/docs-template
	url = git@github.com:dutradda/html-template.git
